<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.canor.alfred-toot</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>25243FEB-8858-410F-9838-906747792D09</key>
		<array/>
		<key>28F9D9AA-65A3-452A-A9A7-57160048B7C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C909D764-ECF4-4942-9583-F0D23FF76145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E9A0908-46C8-4E87-81B5-49F60BF40D41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33AF8EBD-F054-4475-BD97-64357375C73C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32C7F84B-41E8-42BC-9A7A-23761E563F45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F399BEB-C1AB-46E9-BD3E-AA7BE64A2692</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52E6BCD7-E747-40D7-8576-CBA52495DF06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73419E5C-97A2-45A7-996C-4E635F52A0E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F84ED0E-132B-4EC1-998A-0B4F1316A846</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>23296F28-D3F2-4EDD-BB13-C158F5563758</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BFCE522-7C78-496A-AB7D-D4F6EAFCD3E7</key>
		<array/>
		<key>73419E5C-97A2-45A7-996C-4E635F52A0E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BFCE522-7C78-496A-AB7D-D4F6EAFCD3E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACFF9807-919A-4D70-A67D-61902B48C1A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6BFCE522-7C78-496A-AB7D-D4F6EAFCD3E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D09F5FBF-A1FE-456A-834C-3B1835A36B58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACFF9807-919A-4D70-A67D-61902B48C1A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>32C7F84B-41E8-42BC-9A7A-23761E563F45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E86D4931-DFA2-460B-BF7D-DD57CA3AC225</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>28F9D9AA-65A3-452A-A9A7-57160048B7C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E86D4931-DFA2-460B-BF7D-DD57CA3AC225</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA52DC78-6C40-4B94-BB06-89E86F008452</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F50B4021-8118-4DF7-BB39-78A8DF3BE97B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25243FEB-8858-410F-9838-906747792D09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Canor</string>
	<key>description</key>
	<string>send new toot from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred-toot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	set res to text returned of (display dialog "what's going on?" default answer "\n")
	return res
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>73419E5C-97A2-45A7-996C-4E635F52A0E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>2</integer>
				<key>hotmod</key>
				<integer>786432</integer>
				<key>hotstring</key>
				<string>D</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>52E6BCD7-E747-40D7-8576-CBA52495DF06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 toot.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6BFCE522-7C78-496A-AB7D-D4F6EAFCD3E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 app_reg.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F399BEB-C1AB-46E9-BD3E-AA7BE64A2692</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>toot</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>ACFF9807-919A-4D70-A67D-61902B48C1A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 code.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EA52DC78-6C40-4B94-BB06-89E86F008452</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>instance</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>32C7F84B-41E8-42BC-9A7A-23761E563F45</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>toot</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python3 init.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Send toot from alfred workflow</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D09F5FBF-A1FE-456A-834C-3B1835A36B58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E86D4931-DFA2-460B-BF7D-DD57CA3AC225</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 access_key.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C909D764-ECF4-4942-9583-F0D23FF76145</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>access</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>28F9D9AA-65A3-452A-A9A7-57160048B7C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 boost.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23296F28-D3F2-4EDD-BB13-C158F5563758</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Boost toot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F84ED0E-132B-4EC1-998A-0B4F1316A846</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fav</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Favourite Toot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E9A0908-46C8-4E87-81B5-49F60BF40D41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 fav.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33AF8EBD-F054-4475-BD97-64357375C73C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/local/bin/python3 reply.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25243FEB-8858-410F-9838-906747792D09</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>98</integer>
				<key>keyword</key>
				<string>mreply</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>fetching notifications.. please wait</string>
				<key>script</key>
				<string>/usr/local/bin/python3 fetch_notifications.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>reply to recent notifications</string>
				<key>title</key>
				<string>Reply to</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F50B4021-8118-4DF7-BB39-78A8DF3BE97B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See github https://github.com/Canorus/alfred-toot</string>
	<key>uidata</key>
	<dict>
		<key>23296F28-D3F2-4EDD-BB13-C158F5563758</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>25243FEB-8858-410F-9838-906747792D09</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>28F9D9AA-65A3-452A-A9A7-57160048B7C9</key>
		<dict>
			<key>note</key>
			<string>is access</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>2E9A0908-46C8-4E87-81B5-49F60BF40D41</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>32C7F84B-41E8-42BC-9A7A-23761E563F45</key>
		<dict>
			<key>note</key>
			<string>is instance</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>33AF8EBD-F054-4475-BD97-64357375C73C</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>52E6BCD7-E747-40D7-8576-CBA52495DF06</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5F84ED0E-132B-4EC1-998A-0B4F1316A846</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>6BFCE522-7C78-496A-AB7D-D4F6EAFCD3E7</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>6F399BEB-C1AB-46E9-BD3E-AA7BE64A2692</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>73419E5C-97A2-45A7-996C-4E635F52A0E3</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>ACFF9807-919A-4D70-A67D-61902B48C1A9</key>
		<dict>
			<key>note</key>
			<string>is toot</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>C909D764-ECF4-4942-9583-F0D23FF76145</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>D09F5FBF-A1FE-456A-834C-3B1835A36B58</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E86D4931-DFA2-460B-BF7D-DD57CA3AC225</key>
		<dict>
			<key>note</key>
			<string>is code</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>EA52DC78-6C40-4B94-BB06-89E86F008452</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F50B4021-8118-4DF7-BB39-78A8DF3BE97B</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>access_key</key>
		<string>b757fa7ae531c6b545af75e7ffd572c8957d82edd44374befc0013fe6ecc0c32</string>
		<key>client_id</key>
		<string>1579174f263612777d842ef5b4f86cae4a30792fcdb1c5702b980f717f2ce63f</string>
		<key>client_secret</key>
		<string>8a68c275cb3bb2ac9fcaaaad80d6d5c6e01caae07b0937d8f97900a0391689e1</string>
		<key>instance</key>
		<string>https://twingyeo.kr</string>
		<key>key_code</key>
		<string>326d0ea10bee13a7342ea82862c13ac45d8092ff3d0519347e519fae419dc480</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>client_id</string>
		<string>instance</string>
		<string>access_key</string>
		<string>client_secret</string>
		<string>key_code</string>
	</array>
	<key>version</key>
	<string>1.0-7</string>
	<key>webaddress</key>
	<string>http://canor.cf</string>
</dict>
</plist>
